[buildout]
extensions +=
    mr.developer

# alm.solrindex does not current have a released version that works on Plone 4.3.
# Add alm.solrindex to your eggs
always-checkout = force
auto-checkout = *
#    alm.solrindex
#    z3c.recipe.usercrontab
#    collective.newrelic

[sources]
jazkarta.policy = fs jazkarta.policy
jazkarta.contenttypes = fs jazkarta.contenttypes
jazkarta.plonetheme = fs jazkarta.plonetheme

# alm.solrindex = git https://github.com/collective/alm.solrindex.git
# z3c.recipe.usercrontab = git git@github.com:alecpm/z3c.recipe.usercrontab.git
collective.newrelic = git https://github.com/collective/collective.newrelic.git branch=chameleon-support
collective.cover = git https://github.com/collective/collective.cover.git branch=plone5
collective.js.jqueryui = git https://github.com/collective/collective.js.jqueryui.git
collective.relatedslider = git https://github.com/collective/collective.relatedslider.git
# plone 5 compatiblity work is on master of Products.RedirectionTool
Products.RedirectionTool = git https://github.com/collective/Products.RedirectionTool.git
# fix for wrapping context correctly in text widget
plone.app.z3cform = git https://github.com/cguardia/plone.app.z3cform.git
[versions]
