eggs
.Python
*.egg-info
*.pyo
*.pyc
downloads/*
extends/*
bin
develop-eggs
include
lib
parts
var
.installed.cfg
.mr.developer.cfg
*.map
*sublime-*

src/collective.cover
src/collective.js.jqueryui
src/collective.newrelic
src/collective.geolocationbehavior
src/plone.app.stagingbehavior
src/plone.formwidget.geolocation
src/Products.RedirectionTool
