eggs
.Python
*.egg-info
*.pyo
*.pyc
downloads/*
extends/*
bin
develop-eggs
include
lib
parts
var
.installed.cfg
.mr.developer.cfg
*.map
*sublime-*

src/collective.newrelic
src/collective.geolocationbehavior
