/* Include Barceloneta LESS */
@import url("https://raw.githubusercontent.com/plone/plonetheme.barceloneta/master/plonetheme/barceloneta/theme/less/barceloneta.plone.local.less");


/* jazkarta fonts */
@import "../css/jazkarta-icons.css";


/* colors */
@jazkarta-highlight-color:					#6699cb; /* #ee4623; */
@text-tile-background:                      #205c90;
@text-tile-mouseover-background:            #80c34f; /* #73ec36; */
@jazkarta-header-background:                @text-tile-background;
@jazkarta-spacer-background:                @text-tile-mouseover-background;
@plone-link-color:							@text-tile-background;
@plone-link-hover-color:					@text-tile-mouseover-background;
@plone-link-color-on-dark:					white;
@plone-default-published-color:				#007bb3; //published and external same color
@plone-body-bg:								#fff;
@plone-footer-bg:							@jazkarta-header-background;
@plone-text-color:							#231f20;
@plone-sitenav-link-hover-bg:				@plone-link-color;
@plone-sitenav-bg:							transparent;
@plone-sitenav-hover-bg:					transparent;


/* Override typography */
@import "../fonts/source-sans-pro.css";
@plone-font-size-base:          18px;
@plone-font-family-sans-serif:  "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
@plone-font-family-condensed:   "Roboto Condensed", "Arial Narrow", sans-serif; //just on toolbar
@plone-font-family-serif:       Georgia, "Times New Roman", Times, serif;
@plone-font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
@plone-headings-font-weight:    600;


/* other overrides */
@plone-screen-sm-min:                       880px;
@plone-sitenav-padding-horizontal:			30px;
@plone-sitenav-link-padding:				10px 30px;
@plone-container-lg:                        1050px;
@plone-container-md:                        880px;
@plone-container-sm:                        880px;
@jazkarta-header-width-lg:                  1100px;
@jazkarta-header-width-md:                  930px;
@jazkarta-header-width-sm:                  765px;
@plone-grid-float-breakpoint:               @plone-container-sm;

/* base styles */
body {
	font-weight: 300;
	min-width: 470px;
	line-height: 1.381;
}

h1, h2 {
	color: @text-tile-background;
}

h1 {
    font-size: 36px;
	font-weight: 800;
	text-transform: uppercase;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

a {
	&:hover {
		text-decoration: none;
	}
}

/* button */

a.button {
	background: #fff;
	padding: 0 1em;
	border-radius: 5px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 1em;
	display: inline-block;
}

/* layout */
header {
    min-width: 470px;
    .container {
        @media (min-width: @plone-screen-sm-min) {
            width: @jazkarta-header-width-sm !important;
            .plone-nav > li > a {
                padding: 10px;
            }
        }
        @media (min-width: @plone-screen-md-min) {
            width: @jazkarta-header-width-md !important;
        }
        @media (min-width: @plone-screen-lg-min) {
            width: @jazkarta-header-width-lg !important;
        }
    }
}

footer {
    min-width: 470px;
}

header#content-header {
    background-color: @jazkarta-header-background;
    border-bottom: 7px solid @jazkarta-spacer-background;
    @media (min-width: @plone-screen-md-min) {
        border-bottom: 15px solid @jazkarta-spacer-background;
    }
    @media (min-width: @plone-screen-lg-min) {
        border-bottom: 23px solid @jazkarta-spacer-background;
    }
}

/* logo & nav */
#portal-header {
    padding-top: 10px;
    margin-bottom: 10px;
    @media (min-width: @plone-screen-sm-min) {
        padding-top: 10px;
        margin-bottom: 10px;
    }
    @media (min-width: @plone-screen-md-min) {
        padding-top: 20px;
        margin-bottom: 20px;
    }
    @media (min-width: @plone-screen-lg-min) {
        padding-top: 35px;
        margin-bottom: 35px;
    }
}
#portal-logo {
	float: left;
	position: relative;
	left: -8px;
    img {
        width: 258px;
    }
}
.plone-navbar {
	float: right;
	background: none;
	box-shadow: none;
	text-transform: uppercase;
	letter-spacing: .5px;
	position: inherit;
    margin-bottom: 0;
	> .container {
		display: inline;
	}
	> li > a {
		color: white;
	}
	.plone-navbar-nav {
		> .selected > a, > .selected > a:hover, > .selected > a:focus {
			background: none;
			color: @jazkarta-highlight-color;
		}
	}
	.plone-nav {
		> li > a {
			color: white;
			font: 800 16px/20px @plone-font-family-sans-serif;
		}
		> li > a:hover, > li > a:focus {
			background: none;
			color: @plone-link-hover-color;
		}
        > li:last-child {
            margin-left: 1em;
            margin-top: -10px;
            text-align: center;
            > a {
                display: block;
                font-size: 22px;
                line-height: 100%;
                border: 3px solid @plone-link-hover-color;
                color: @plone-link-hover-color;
                background-color: white;
                padding: 15px;
                &:hover {
                    background-color: @plone-link-hover-color;
                    color: white;
                    border-color: white;
                }
            }
        }
	}
}

.plone-navbar-toggle {
    margin-top: 0;
	&:hover, &:focus {
		background: none;
		box-shadow: none;
		border-color: white;
	}
	.icon-bar {
		display: block;
		width: 22px;
		height: 2px;
		border-radius: 1px;
		background: #5897D2;
		margin-top: 2px;
		&:after {
			content: "";
		}
	}
	.icon-bar + .icon-bar {
		margin-top: 5px;
	}
	.icon-bar + .icon-bar + .icon-bar {
		margin-bottom: 3px;
	}
}
.plone-navbar-collapse {
	@media (max-width: (@plone-screen-sm-min - 1px)) {
		position: absolute;
		right: 0;
        left: 0;
        box-sizing: border-box;
		width: 100%;
		padding: 15px;
		background: #fff;
	}
}
.plone-navbar-header {
    @media (min-width: @plone-screen-sm-min) {
        display: none;
    }
}

/* breadcrumbs */
#portal-breadcrumbs {
	display: none;
}

/* fix grid */
.row {
	.clearfix();
	@media (max-width: @jazkarta-header-width-md) {
		margin: 0;
	}
}

/* footer */
#portal-footer-wrapper {
	height: auto;
	text-align: left;
	color: #fff;
	margin-top: 0;
	a {
		color: @plone-link-color-on-dark;
		font: 600 15px/22px @plone-font-family-sans-serif;
		&:hover {
			color: @plone-link-color-on-dark;
		}
	}
	p {
		border-bottom: none;
		padding-bottom: 0;
	}
	.portletWrapper:first-child {
		border-bottom: none;
		display: inline-block;
        margin-top: 80px;
	}
    #portal-footer {
        position: relative;
        img#footer-logo {
            position: absolute;
            top: -10px;
            left: -20px;
        }
    }
}
#portal-footer {
	.clearfix();
	.portletWrapper {
		width: 32.5%;
		vertical-align: top;
		border-bottom: none;
		.portletHeader {
			font: 800 20px @plone-font-family-sans-serif;
			color: #fff;
			padding-bottom: 10px;
		}
		.portlet .portletContent, .portlet .portletContent p {
			font: 600 15px/22px @plone-font-family-sans-serif;
		}
		.portlet .portletContent > * {
			color: white;
			font: 600 15px/22px @plone-font-family-sans-serif;
		}
        @media (max-width: @plone-grid-float-breakpoint-max) {
            display: none;
            &:first-child {
                display: block;
                width: 100%;
            }
        }
	}
}

/* portlets */
.portlet {
	border: none;
	box-shadow: none;
	.portletHeader {
		border: none;
		background: none;
		padding: 0;
		font: 700 20px @plone-font-family-sans-serif;
		color: @plone-text-color;
		text-transform: uppercase;
		box-shadow: none;
	}
	.portletContent {
		border-top: none;
		> * {
			padding: 10px 0;
		}
	}
	.portletFooter {
		border: none;
		background: none;
		padding: 0;
		box-shadow: none;
	}
}

/* lead image */

#lead-image {
	margin-bottom: 30px;
	margin-top: 75px;
	text-align: right;
	float: right;
	img {
		max-width: 100%;
		height: auto;
		display: block;
	}
	@media (max-width: @plone-grid-float-breakpoint-max) {
		img {
			max-width: 100%;
			margin-left: 0;
		}
	}
}
#banner-image {
	width: 100%;
	max-width: 100%;
	img {
		width: 100%;
		height: auto;
		margin: 0;
	}
	margin-bottom: 30px;
    .row .column {
        @media (max-width: @plone-grid-float-breakpoint-max) {
            padding-left: 0;
            padding-right: 0;
        }
    }
}
.jazkarta-banner-tile {
	min-height: 2em;
    img {
        width: 100%;
    }
}

.col-sm-9 > #content {
	padding-left: 30px;
	@media (max-width: @plone-grid-float-breakpoint-max) {
		padding-left: 0;
	}
}

/* Content area */
.documentDescription {
    padding-bottom: 0.8em;
}

/* project */

dt.label {
	width: 10em;
	float: left;
}

dl.InfoList dd {
	display: block;
}

/* cover */


.column.col-md-4 {
    @media (min-width: @plone-screen-lg-min) {
        width: 350px;
    }
    .plone-toolbar-left-expanded &, .plone-toolbar-right-expanded & {
        @media (min-width: (@plone-screen-lg-min) ) {
            width: 33.33%;
        }
        @media (min-width: (@plone-screen-lg-min + @plone-left-toolbar-expanded) ) {
            width: 350px;
        }
    }
    .plone-toolbar-left-default &, .plone-toolbar-right-default & {
        @media (min-width: (@plone-screen-lg-min) ) {
            width: 33.33%;
        }
        @media (min-width: (@plone-screen-lg-min + @plone-left-toolbar) ) {
            width: 350px;
        }
    }
}

.tile {
	.clearfix();
	img {
		max-width: 100%;
		height: auto;
	}
}

.row.tile-fullwidth {
    margin-left: -90px;
    margin-right: -90px;
    @media (max-width: @plone-grid-float-breakpoint-max) {
        margin-left: -40px;
        margin-right: -40px;
    }
}

.tile-fullwidth .tile-content {
    position: relative;
    background: #1f1f1f;
    color: #fff;
    font: 400 2.4vw/3vw @plone-font-family-sans-serif;
    overflow: hidden;
    .banner-text {
        position: absolute;
        top: 1em;
        left: 3em;
        text-shadow: 1px 1px 2px #000000;
    }
    a {
        font-weight: 600;
    }
}

.mobile-tile {
    height: 255px;
    width: 380px;
    margin-left: auto;
    margin-right: auto;
}
.tablet-tile {
    width: 100%;
    height: 176px;
}
.desktop-tile {
    width: 100%;
    height: 235px;
}

.tile-centered-text {
    position: relative;
    top: 0;
    width: 380px;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    height: 255px;
    margin-top: 30px;
    .mobile-tile;
    @media (min-width: @plone-screen-md-min) {
        .tablet-tile;
    }
    .plone-toolbar-left-expanded & {
        @media (min-width: @plone-screen-lg-min) {
            .tablet-tile;
        }
    }
    .plone-toolbar-left-default & {
        @media (min-width: @plone-screen-lg-min) {
            .tablet-tile;
        }
    }
    @media (min-width: @plone-screen-lg-min) {
        .desktop-tile;
    }
    .plone-toolbar-left-expanded & {
        @media (min-width: (@plone-screen-lg-min + @plone-left-toolbar-expanded)) {
            .desktop-tile;
        }
    }
    .plone-toolbar-left-default & {
        @media (min-width: (@plone-screen-lg-min + @plone-left-toolbar)) {
            .desktop-tile;
        }
    }
    .cover-richtext-tile {
        width: 100%;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    h1, h2, h3, h4, h5, p {
        margin: 0;
        box-sizing: border-box;
        padding: 0 15px 15px 15px;
    }
}

.tablet-mouseover-tile {
    .tablet-tile;
    h2 {
        font-size: 1.4em;
    }
    p:first-of-type {
        font-size: 1.3em;
    }
}

.desktop-mouseover-tile {
    .desktop-tile;
    h2 {
        font-size: 2em;
    }
    p:first-of-type {
        font-size: 1.8em;
    }
}

.tile-mouseover-basic, .tile-mouseover-text {
    margin-top: 30px;
    .cover-basic-tile {
        overflow: hidden;
        text-align: center;
        color: white;
        h2, p {
            margin: 0;
            box-sizing: border-box;
            padding: 0 15px 15px 15px;
        }
        h2 {
            text-transform: uppercase;
            color: white;
        }
        p {
            display: none;
            color: white;
            text-align: center;
            &:first-of-type {
                font-size: 1.8em;
                font-weight: 400;
            }
        }
        height: 255px;
        width: 380px;
        @media (max-width: (@plone-screen-md-min - 1px)) {
            .mobile-tile
        }
        @media (min-width: @plone-screen-md-min) {
            .tablet-mouseover-tile;
        }
        .plone-toolbar-left-expanded & {
            @media (min-width: @plone-screen-lg-min) {
                .tablet-mouseover-tile;
            }
        }
        .plone-toolbar-left-default & {
            @media (min-width: @plone-screen-lg-min) {
                .tablet-mouseover-tile;
            }
        }
        @media (min-width: @plone-screen-lg-min) {
            .desktop-mouseover-tile;
        }
        .plone-toolbar-left-expanded & {
            @media (min-width: (@plone-screen-lg-min + @plone-left-toolbar-expanded)) {
                .desktop-mouseover-tile;
            }
        }
        .plone-toolbar-left-default & {
            @media (min-width: (@plone-screen-lg-min + @plone-left-toolbar)) {
                .desktop-mouseover-tile;
            }
        }
    }
    .basic-tile-link-wrapper {
        top: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    .basic-tile-link-area {
        margin: 0;
        img {
            position: absolute;
            top: 0;
            left: 0;
            height: auto;
            margin: 0 !important;
            @media (min-width: @plone-screen-sm-min) {
                width: 380px;
            }
            @media (min-width: @plone-screen-md-min) {
                width: 263px;
            }
            @media (min-width: @plone-screen-lg-min) {
                width: 350px;
            }
        }
    }
    &:hover .basic-tile-link-area {
        img {
            display: none;
        }
        p:first-of-type {
            display: block;
            z-index: 10;
        }
    }
}

.tile-mouseover-basic {
    .cover-basic-tile {
        position: relative;
        h2 {
            width: 100%;
            display: none;
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }
        p {
            display: none;
        }
    }
    &:hover {
        .cover-basic-tile {
            background-color: @text-tile-mouseover-background;
	        h2, h2 a {
                color: white;
                z-index: 10;
                display: block;
		    }
            p:first-of-type {
                display: none;
            }
	   }
    }
}

.tile-mouseover-text {
    .cover-basic-tile {
        background-color: @text-tile-background;
        a {
            color: white;
            text-decoration: none;
        }
        .basic-tile-link-area {
            position: relative;
            top: 50%;
            display: inline-block;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }
    &:hover {
        .cover-basic-tile {
            background-color: @text-tile-mouseover-background;
		    h2 {
                display: none;
		    }
        }
    }
}

/* plone.app.imagecropping improvements */
#content ul.scales {
    max-height: 1000px;
    height: auto;
    overflow-y: scroll;
    margin-bottom: 2em;
    border-bottom: 1px solid #333;

    li {
        width: 200px;
        height: 250px;
        overflow: hidden;
        float: left;

        img {
            max-height: 200px;
        }
    }
}

/* relatedslider */
#content {
    margin-bottom: 30px;
}

#content-core img {
    max-width: 100%;
    height: auto;
}

.body-width-mixin {
    @media (max-width: @plone-grid-float-breakpoint-max) {
        width: 470px;
    }
    @media (min-width: @plone-screen-sm-min) {
        width: @plone-container-md;
    }
    .plone-toolbar-left-expanded & {
        @media (min-width: (@plone-screen-sm-min)) {
            width: 470px;
        }
        @media (min-width: (@plone-screen-sm-min + @plone-left-toolbar-expanded)) {
            width: @plone-container-md;
        }
    }
    .plone-toolbar-left-default & {
        @media (min-width: (@plone-screen-sm-min)) {
            width: 470px;
        }
        @media (min-width: (@plone-screen-sm-min + @plone-left-toolbar)) {
            width: @plone-container-md;
        }
    }
    @media (min-width: @plone-screen-lg-min) {
        width: @plone-container-lg;
    }
    .plone-toolbar-left-expanded & {
        @media (min-width: (@plone-screen-lg-min)) {
            width: @plone-container-md;
        }
        @media (min-width: (@plone-screen-lg-min + @plone-left-toolbar-expanded)) {
            width: @plone-container-lg;
        }
    }
    .plone-toolbar-left-default & {
        @media (min-width: (@plone-screen-lg-min)) {
            width: @plone-container-md;
        }
        @media (min-width: (@plone-screen-lg-min + @plone-left-toolbar)) {
            width: @plone-container-lg;
        }
    }   
}
.slider-height-mixin {
    @media (max-width: @plone-grid-float-breakpoint-max) {
        height: 128px;
    } 
    @media (min-width: @plone-screen-sm-min) {
        height: 170px;
    } 
    .plone-toolbar-left-expanded & {
        @media (min-width: (@plone-screen-sm-min)) {
            height: 128px;
        }
        @media (min-width: (@plone-screen-sm-min + @plone-left-toolbar-expanded)) {
            height: 170px;
        }
    }
    .plone-toolbar-left-default & {
        @media (min-width: (@plone-screen-sm-min)) {
            height: 128px;
        }
        @media (min-width: (@plone-screen-sm-min + @plone-left-toolbar)) {
            height: 170px;
        }
    }
    @media (min-width: @plone-screen-lg-min) {
        height: 208px;
    }
    .plone-toolbar-left-expanded & {
        @media (min-width: (@plone-screen-lg-min)) {
            height: 170px;
        }
        @media (min-width: (@plone-screen-lg-min + @plone-left-toolbar-expanded)) {
            height: 208px;
        }
    }
    .plone-toolbar-left-default & {
        @media (min-width: (@plone-screen-lg-min)) {
            height: 170px;
        }
        @media (min-width: (@plone-screen-lg-min + @plone-left-toolbar)) {
            height: 208px;
        }
    }
}
.slider-item-mixin {
    .slider-height-mixin;
    @media (max-width: @plone-grid-float-breakpoint-max) {
        width: 190px;
    } 
    @media (min-width: @plone-screen-sm-min) {
        width: 253px;
    } 
    .plone-toolbar-left-expanded & {
        @media (min-width: (@plone-screen-sm-min)) {
            width: 190px;
        }
        @media (min-width: (@plone-screen-sm-min + @plone-left-toolbar-expanded)) {
            width: 253px;
        }
    }
    .plone-toolbar-left-default & {
        @media (min-width: (@plone-screen-sm-min)) {
            width: 190px;
        }
        @media (min-width: (@plone-screen-sm-min + @plone-left-toolbar)) {
            width: 253px;
        }
    }
    @media (min-width: @plone-screen-lg-min) {
        width: 310px;
    }    
    .plone-toolbar-left-expanded & {
        @media (min-width: (@plone-screen-lg-min)) {
            width: 253px;
        }
        @media (min-width: (@plone-screen-lg-min + @plone-left-toolbar-expanded)) {
            width: 310px;
        }
    }
    .plone-toolbar-left-default & {
        @media (min-width: (@plone-screen-lg-min)) {
            width: 247px;
        }
        @media (min-width: (@plone-screen-lg-min + @plone-left-toolbar)) {
            width: 310px;
        }
    }
}

main #related-slider-wrapper {
    background-color: black;
    background-image: url(../images/slider-background.jpg);
    background-repeat: no-repeat;
    background-position: bottom left;
    box-sizing: border-box;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 50px;
    #related-slider {
        .SliderTitle {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 26px;
            color: white;
            margin: 0 0 0 30px;
        }
        margin: 0 auto;
        .body-width-mixin;
        .control-wrapper {
            .slider-height-mixin;
            .control {
                color: white;
                font-size: 45px;
                font-weight: 600;
                &.prev {
                    left: -50px;
                }
                &.next {
                    right: -50px;
                }
                @media (max-width: @plone-grid-float-breakpoint-max) {
                    font-size: 120%;
                    &.prev {
                        left: -0.25em;
                    }
                    &.next {
                        right: -0.25em;
                    }
                }
                &:hover {
                    color: @plone-link-hover-color;
                }
                &.disabled, &.disabled:hover {
                    color: rgba(255, 255, 255, 0.5);
                }
            }
        }
    }
    background-size: cover;
    /*
    @media (max-width: @plone-grid-float-breakpoint-max) {
        height: 275px;
        background-size: 100% 200px;
        #related-slider .SliderTitle {
            margin-bottom: 60px;
        }
    }
    @media (min-width: @plone-screen-sm-min) {
        height: 375px;
        background-size: 100% 300px;
    }
    @media (min-width: @plone-screen-lg-min) {
        height: 400px;
        background-size: 100% 325px;
    }
    */
    .slider {
        margin-top: 30px;
        .slider-height-mixin;    
    }
    li.slider-item {
        .slider-item-mixin;
        position: relative;
        a.item-caption {
            display: none;
        }
        &.no-image {
            .slider-item-mixin;
            position: relative;
            -webkit-transform-style: preserve-3d;
            -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
            background-color: rgba(255,255,255, 0.4);
            .missing-image {
                display: none;
            }
            a.item-caption {
                display: block;
                .slider-item-mixin;
                span {
                    width: 100%;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                    vertical-align: middle;
                    padding: 25px 10px;
                    box-sizing: border-box;
                    font-weight: bold;
                    text-transform: uppercase;
                    text-decoration: none;
                    border: none;
                }
            }
        }
    }
}

.container {
    .field {
        width: 100%;
        margin: 0 0 20px 0;
    }
    span.not-required::after, span.required::after {
        font-size: 60%;
        line-height: 2em;
        vertical-align: middle;
    }
    .pfg-form {
        .formControls {
            border: none;
            padding: 12px 0;
        }
    }
}

img.ProjectImage {
    display: block;
    box-sizing: border-box;
    border: 1px solid black;
    width: 100%;
    margin-bottom: 1em;
}
.Testimonial {
    margin-left: -1em;
    margin-bottom: 1em;
    background-image: url(../images/quotation-mark.png);
    background-size: 60px auto;
    background-repeat: no-repeat;
    padding: 10px 0 0 60px;
    min-height: 60px;
    blockquote {
        font-weight: normal;
        margin: 0 10px;
    }
}
.ServiceColumn h4{
    color: @plone-link-color;
}
.ProjectLinks {
    margin-bottom: 1em;
    a.btn {
        margin-right: 1.5em;
        text-transform: uppercase;
        font-weight: bold;
        color: @jazkarta-highlight-color;
        &:hover {
            color: @plone-link-color;
        }
    }
}
.BottomLinks {
    float: right;
    a.btn {
        margin-right: 0;
    }
}