/* Include Barceloneta LESS */
@import url("https://raw.githubusercontent.com/plone/plonetheme.barceloneta/master/plonetheme/barceloneta/theme/less/barceloneta.plone.local.less");


/* jazkarta fonts */
@import "../css/jazkarta-icons.css";


/* colors */
@jazkarta-highlight-color:					#ee4623;
@text-tile-background:                      #205c90;
@text-tile-mouseover-background:            #80c34f;
@plone-link-color:							@jazkarta-highlight-color;
@plone-link-color-on-dark:					@jazkarta-highlight-color;
@plone-default-published-color:				#007bb3; //published and external same color
@plone-body-bg:								#fff;
@plone-footer-bg:							#231f20;
@plone-text-color:							#231f20;
@plone-sitenav-link-hover-bg:				@plone-link-color;
@plone-sitenav-bg:							transparent;
@plone-sitenav-hover-bg:					transparent;


/* Override typography */
@import "../fonts/source-sans-pro.css";
@plone-font-size-base:          18px;
@plone-font-family-sans-serif:  "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
@plone-font-family-condensed:   "Roboto Condensed", "Arial Narrow", sans-serif; //just on toolbar
@plone-font-family-serif:       Georgia, "Times New Roman", Times, serif;
@plone-font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
@plone-headings-font-weight:    600;


/* other overrides */
@plone-sitenav-padding-horizontal:			30px;
@plone-sitenav-link-padding:				10px 30px;
@plone-container-lg:                        1050px;
@plone-container-md:                        880px;
@plone-container-sm:                        680px;
@jazkarta-header-width-lg:                  1100px;
@jazkarta-header-width-md:                  940px;
@jazkarta-header-width-sm:                  765px;
@plone-grid-float-breakpoint:               764px;

/* base styles */
body {
	font-weight: 300;
}

h1 {
	font-weight: 900;
	color: @jazkarta-highlight-color;
	text-transform: uppercase;
}

/* button */

a.button {
	background: #fff;
	padding: 0 1em;
	border-radius: 5px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 1em;
	display: inline-block;
}

/* layout */

.container {
  @media (min-width: @plone-screen-sm-min) {
    width: @plone-container-sm;
  }
  @media (min-width: @plone-screen-md-min) {
    width: @plone-container-md;
  }
  @media (min-width: @plone-screen-lg-min) {
    width: @plone-container-lg;
  }
}

header, footer {
    .container {
        @media (min-width: @plone-screen-sm-min) {
            width: @jazkarta-header-width-sm !important;
            .plone-nav > li > a {
                padding: 10px;
            }
        }
        @media (min-width: @plone-screen-md-min) {
            width: @jazkarta-header-width-md !important;
        }
        @media (min-width: @plone-screen-lg-min) {
            width: @jazkarta-header-width-lg !important;
        }
    }
}

/* logo & nav */
#portal-logo {
	float: left;
	position: relative;
	left: -8px;
}
.plone-navbar {
	float: right;
	background: none;
	box-shadow: none;
	text-transform: uppercase;
	letter-spacing: .5px;
	position: inherit;
	> .container {
		display: inline;
	}
	> li > a {
		color: #000;
	}
	.plone-navbar-nav {
		> .selected > a, > .selected > a:hover, > .selected > a:focus {
			background: none;
			color: @plone-link-color;
		}
	}
	.plone-nav {
		> li > a {
			color: #000;		
			font: 600 16px/20px @plone-font-family-sans-serif;
		}
		> li > a:hover, > li > a:focus {
			background: none;
			color: @plone-link-color;			
		}
	}
}

.plone-navbar-toggle {
	&:hover, &:focus {
		background: none;
		box-shadow: none;
		border-color: white;
	}
	.icon-bar {
		display: block;
		width: 22px;
		height: 2px;
		border-radius: 1px;
		background: #5897D2;
		margin-top: 2px;
		&:after {
			content: "";
		}
	}
	.icon-bar + .icon-bar {
		margin-top: 5px;
	}
	.icon-bar + .icon-bar + .icon-bar {
		margin-bottom: 3px;
	}
}
.plone-navbar-collapse {
	@media (max-width: @plone-screen-sm-min - 1) {
		position: absolute;
		right: 0;
        left: 0;
        box-sizing: border-box;
		width: 100%;
		padding: 15px;
		background: #fff;
	}
}
.plone-navbar-header {
    @media (min-width: @plone-screen-sm-min) {
        display: none;
    }
}

/* breadcrumbs */
#portal-breadcrumbs {
	display: none;
}

/* fix grid */
.row {
	.clearfix();
}

/* footer */
#portal-footer-wrapper {
	height: auto;
	text-align: left;
	color: #fff;
	p {
		border-bottom: none;
		padding-bottom: 0;
	}
	.portletWrapper:first-child {
		border-bottom: none;
		display: inline-block;
	}
}
#portal-footer {
	.clearfix();
	.portletWrapper {
		width: 33%;
		vertical-align: top;
		border-bottom: none;
		.portletHeader {
			font: 700 20px @plone-font-family-sans-serif;
			color: #fff;
			padding-bottom: 15px;
		}
		.portlet .portletContent {
			font: 400 16px/24px @plone-font-family-sans-serif;
		}
		.portlet .portletContent > * {
			color: #fff;
		}
	}
}

/* portlets */
.portlet {
	border: none;
	box-shadow: none;
	.portletHeader {
		border: none;
		background: none;
		padding: 0;
		font: 700 20px @plone-font-family-sans-serif;
		color: @plone-text-color;
		text-transform: uppercase;
		box-shadow: none;
	}
	.portletContent {
		border-top: none;
		> * {
			padding: 10px 0;
		}
	}
	.portletFooter {
		border: none;
		background: none;
		padding: 0;
		box-shadow: none;
	}
}

/* lead image */

#lead-image {
	margin-bottom: 30px;
	margin-top: 75px;
	text-align: right;
	float: right;
	img {
		max-width: 100%;
		height: auto;
		display: block;
	}
	@media (max-width: @plone-grid-float-breakpoint) {
		img {
			max-width: 100%;
			margin-left: 0;
		}
	}
}
#banner-image {
	width: 100%;
	max-width: 100%;
	img {
		width: 100%;
		height: auto;
		margin: 0;
	}
	margin-bottom: 30px;
}
.jazkarta-banner-tile {
	min-height: 2em;
    img {
        width: 100%;
    }
}

.col-sm-9 > #content {
	padding-left: 30px;
	@media (max-width: @plone-grid-float-breakpoint) {
		padding-left: 0;
	}
}

/* Content area */
.documentDescription {
    padding-bottom: 0.8em;
}

/* project */

dt.label {
	width: 10em;
	float: left;
}

dl.InfoList dd {
	display: block;
}

/* cover */


.column.col-md-4 {
    @media (min-width: @plone-screen-lg-min) {
        width: 350px;
    }
}

.tile {
	.clearfix();
	img {
		max-width: 100%;
		height: auto;
	}
}

.row.tile-fullwidth {
    margin-left: -90px;
    margin-right: -90px;
    @media (max-width: @plone-grid-float-breakpoint) {
        margin-left: -40px;
        margin-right: -40px;
    }
}

.column.tile-fullwidth .tile-content {
    position: relative;
    background: #1f1f1f;
    color: #fff;
    font: 400 2.4vw/3vw @plone-font-family-sans-serif;
    overflow: hidden;
    .banner-text {
        position: absolute;
        top: 1em;
        left: 3em;
        text-shadow: 1px 1px 2px #000000;
    }
    a {
        font-weight: 600;
    }
}

.tile-mouseover-basic, .tile-mouseover-text {
    margin-top: 30px;
    .cover-basic-tile {
        overflow: hidden;
        text-align: center;
        color: white;
        h2, p {
            margin: 0;
            box-sizing: border-box;
            padding: 10px;
        }
        h2 {
            text-transform: uppercase;
            color: white;
        }
        p {
            display: none;
            color: white;
            text-align: center;
            &:first-of-type {
                font-size: 1.4em;
                font-weight: bold;
            }
        }
        height: 255px;
        width: 380px;
        @media (max-width: @plone-screen-md-min) {
            margin: 0 auto;
        }
        @media (min-width: @plone-screen-md-min) {
            width: 100%;
            height: 176px;
            h2 {
                font-size: 1.4em;
            }
            p:first-of-type {
                font-size: 1.2em;
            }
        }
        @media (min-width: @plone-screen-lg-min) {
            width: 100%;
            height: 235px;
            h2 {
                font-size: 2em;
            }
            p:first-of-type {
                font-size: 1.4em;
            }
        }
    }
    .basic-tile-link-wrapper {
        top: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    .basic-tile-link-area {
        margin: 0;
        img {
            position: absolute;
            top: 0;
            left: 0;
            height: auto;
            margin: 0 !important;
            @media (min-width: @plone-screen-sm-min) {
                width: 380px;
            }
            @media (min-width: @plone-screen-md-min) {
                width: 263px;
            }
            @media (min-width: @plone-screen-lg-min) {
                width: 350px;
            }
        }
    }
    &:hover .basic-tile-link-area {
        img {
            opacity: 0.2;
        }
        p:first-of-type {
            display: block;
            z-index: 10;
        }
    }
}

.tile-mouseover-basic {
    .cover-basic-tile {
        position: relative;
        h2 {
            width: 100%;
            display: none;
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }
        p {
            display: none;
        }
    }
    &:hover {
        .cover-basic-tile {
            background-color: @text-tile-mouseover-background;
	        h2, h2 a {
                color: white;
                z-index: 10;
                display: block;
		    }
            p:first-of-type {
                display: none;
            }
	   }
    }
}

.tile-mouseover-text {
    .cover-basic-tile {
        background-color: @text-tile-background;
        a {
            color: white;
            text-decoration: none;
        }
        .basic-tile-link-area {
            position: relative;
            top: 50%;
            display: inline-block;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }
    &:hover {
        .cover-basic-tile {
            background-color: @text-tile-mouseover-background;
		    h2 {
                display: none;
		    }
        }
    }
}

/* plone.app.imagecropping improvements */
#content ul.scales {
    max-height: 1000px;
    height: auto;
    overflow-y: scroll;
    margin-bottom: 2em;
    border-bottom: 1px solid #333;

    li {
        width: 200px;
        height: 250px;
        overflow: hidden;
        float: left;

        img {
            max-height: 200px;
        }
    }
}

/* relatedslider */
#content {
    margin-bottom: 24px;
}
#portal-footer-wrapper {
    margin-top: 24px;
}

#content-core img {
    max-width: 100%;
    height: auto;
}

main #related-slider li.slider-item {
    width: 247px;
    position: relative;
    height: auto;
    a.item-caption {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        vertical-align: middle;
        box-sizing: border-box;
        padding: 55px 8px 3px 8px;
        left: 0;
        z-index: -1;
        color: white;
        background-color: transparent;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        border: none;
    }
    &:hover .item-caption {
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.5);
    }
    &.no-image {
        height: 154px;
        .item-caption {
            z-index: 1;
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
}
